body {
  font-family: Arial;
  background: #f5f5f5;
  text-align: center;
}

h1 {
  color: #e3350d;
}

.controls {
  margin: 20px;
}

input, select {
  padding: 10px;
  margin: 5px;
}

#pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.card img {
  width: 100px;
}
